@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
    margin: 0;
}
body {
    font-family: 'Cutive Mono', monospace;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(189,250,255);
    padding: 2rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: rgb(33,16,50);
    text-shadow: 0px 0px 10px rgb(33, 16, 50);
}
.mensaje {
    
display: flex;
justify-content: center;
}

.mensaje-normal {
    width:500px;
	overflow:hidden;
	background-color:#FFF;
	color:#222;
	margin-top: 5em;
	font-weight:normal;
	font-size:18px;
	resize:none;
	line-height:20px;
	padding-left:100px;
	padding-right:50px;
	padding-top:22px;
	padding-bottom:17px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat: repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}

.mensaje-encriptado { 
    width:400px;
	overflow:hidden;
	background-color:#FFF;
    margin-top: 5em;
	color:#222;
	font-weight:normal;
	font-size:18px;
	resize:none;
    margin-left: 25px;
	line-height:20px;
	padding-left:100px;
	padding-right:50px;
	padding-top:22px;
	padding-bottom:17px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat: repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}

.imagenprincipal {
    margin:  25px;
    margin-top: 5em;
    width:400px;
    border-radius: 15px;
}
.reactivo{
    width: 13px;
}
.comandos {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 12em;
    font-family: 'Cutive Mono', monospace;
    border: 0.1em solid rgb(33,16,50);
    box-shadow: 0px 0px 10px rgb(33,16,50),
    0px 0px 10px rgb(33,16,50) inset;;
    border-radius: 0.2em;
    background-color: rgb(189,250,255);
    color: #cccccc;
    font-size:x-large;
    color: rgb(33,16,50);
}

.btn:hover {
    box-shadow: 0px 0px 10px rgb(189,250,255);
    border: 0.1em solid rgb(189,250,255);
    background-color: rgb(33,16,50);
    color: white;
}

.botonera {
    display: flex;
    margin-top: 3rem;
}

#copiar-btn {
    margin-left: 200px;
}

footer {
    background-color: rgb(189, 250, 255);
    width: 100%; 
    height: 70px;
    position: fixed;
    bottom: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}