@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
    font-family: 'Cutive Mono', monospace;
    height: 100%;
}

.contenedor {
    width: 100%;
    
}
header{
    background-color: rgb(189,250,255);
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    
}


.titulo {
    font-size: 2em;
    color: rgb(33,16,50);
    text-shadow: 0px 0px 10px rgb(33, 16, 50);
}

main {
    display: flex;
    justify-content: center;
}

.mensaje-normal, .mensaje-encriptado{
    width: 60%;
    height: 400px;
    margin-bottom: 10px;
	overflow:hidden;
	background-color:#FFF;
	color:#222;
	margin-top: 5em;
	font-weight:normal;
	font-size:18px;
	resize:none;
	line-height:20px;
	padding-left:100px;
	padding-right:50px;
	padding-top:22px;
	padding-bottom:17px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat: repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
} 


.mensaje-encriptado { 
    margin-left: 1em;
    position: relative;
}

.imagenprincipal {
    margin:  25px;
    margin-top: 5em;
    width:30em;
    height: 28em;
    border-radius: 15px;
}
.reactivo{
    width: 13px;
}
.textarea-1 {
    width: 100%;
    margin-bottom: 1em; /* Añade un pequeño margen inferior para separar del siguiente elemento */
}
.comandos {
    grid-row: 2 / span 1; /* Ocupa la segunda fila */
}

.btn {
    margin: 0.5em;
    width: 9em;
    font-family: 'Cutive Mono', monospace;
    border: 0.1em solid rgb(33,16,50);
    box-shadow: 0px 0px 10px rgb(33,16,50),
    0px 0px 10px rgb(33,16,50) inset;;
    border-radius: 0.2em;
    background-color: rgb(189,250,255);
    color: #cccccc;
    font-size:x-large;
    color: rgb(33,16,50); 
}

.btn:hover {
    box-shadow: 0px 0px 10px rgb(189,250,255);
    border: 0.1em solid rgb(189,250,255);
    background-color: rgb(33,16,50);
    color: white;
}

.botonera {
    display: flex;
    margin-top: 3rem;
}

#copiar-btn {
    width: 10em;
    position: absolute;
    top: 65%;
    right: 10%;
    padding: 3px 10px;
}
.resultado {
    display: flex;
    
    
}

.contenedor-secreto{
    margin-top: 0;
    display: flex;
    position: relative;

}


footer {
    grid-area: footer;
    background-color: rgb(189, 250, 255);
    height:80px;
    line-height:50px;
    bottom:0;
    left:0;
    
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* media para tablet */
@media screen and (max-width: 1024px) {

    main{
        align-items: center;
        flex-direction: column;
    }

    .titulo {
        font-size: 2em;
        font-weight: 600;
    }
    .mensaje-normal, .mensaje-encriptado {
        
        margin-top: 0;
        height: 300px;
    }
    main{
        margin: 2em;

    }

}


/* media para celular */
@media screen and (max-width: 600px) {


    header {
        padding: 2em;
    }
   

    .alura {
        width: 50%;
    }
    .titulo {
        font-size: 0.8em;
        font-weight: 600;
    }
    .textarea-1 {
        margin-left: 1em;
    }
    .mensaje-normal, .mensaje-encriptado {
        width: 150px;
        height: 300px;
        font-size: 12px;
    }
    .botonera {
        margin-top: 0;
    }
    .btn {
        font-size: smaller;
    }
    .aclaracion {
        font-size: 0.8em;
    }

    .reactivo {
        width: 10px;
    }

    .imagenprincipal {
        margin-top: 1em;
        width: 20em;
        border-radius: 24px;
        height: 20em;
    }
   

}